h1 {
    border: groove burlywood;
    background-color: bisque;
}
h2 {
    text-decoration: overline;
}
ul {
    border: solid dimgrey;
    border-color: dimgrey;
    background-color: dimgrey;
    border-width: 10px;
    padding: 15px;
    border-radius: 40px;
     margin-left: 400px;
    margin-right: 400px;
}
