h1 {
    border: groove dimgrey;
    padding: 10px;
}
p {
    border: groove dimgray;
    background-color: dimgray;
    border-radius: 60px;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center ;
}